# .gitignore

# 环境变量文件
.env

# Python 虚拟环境
venv/
env/
*.pyc
__pycache__/

# 数据库文件
*.db
data/

# 日志文件
*.log

# 操作系统生成的文件
.DS_Store
Thumbs.db

# IDE 和编辑器生成的文件
.vscode/
.idea/
*.swp
*.swo

# 其他不需要版本控制的文件
*.bak
*.tmp